.wrapper {
  max-width: calc(100% - 540px);
  padding: 10px;
  max-height: 100%;
}

.title {
  text-align: start;
  background-color: #1976d2;
  color: white;
  font-size: 25px;
}

.notFound,
.video,
.title {
  width: 800px;
}

@media (max-width: 1440px) {
  .notFound,
  .video,
  .title {
    width: 700px;
  }
}

@media (max-width: 1200px) {
  .notFound,
  .video,
  .title {
    width: 540px;
  }
  .title {
    font-size: 23px;
  }
}

@media (max-width: 1024px) {
  .wrapper {
    max-width: 100%;
    width: 100%;
    .notFound,
    .video,
    .title {
      width: 100%;
    }
  }
}
