.wrapper {
  width: 300px;
  height: 700px;
  border-radius: 10px;
}

.link {
  text-decoration: none;
  border-radius: 10px;
  color: black;
  height: 100%;
  width: 100%;
  position: relative;

  img {
    height: 132px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    width: 100%;
  }

  .info {
    h2 {
      font-size: 22px;
    }
    p {
      font-size: 18px;
      margin: 5px 0;
      text-align: justify;
    }
    .line {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
    strong {
      font-size: 18px;
    }
    .tags,
    .skills {
      font-size: 18px;
      i {
        font-weight: 600;
      }
    }
  }
}
